In [1]:
import sqlite3

In [2]:
db = sqlite3.connect('School.sqlite')
cur = db.cursor()

In [3]:
cur.execute('select * from Student')

In [4]:
for row in cur:
    print (row)

(101, 'AMAN', 30)
(102, 'Aman', 20)
(103, 'Mohit', 50)
(104, 'Nikhil', 30)
(105, 'Nidhi', 30)
(106, 'Manisha', 30)
(107, 'Ankush', 30)

## Methods to fetch data from the table:
    1. fetchone()
    2. fetchmany()
    3. fetchall()

In [5]:
cur.execute('select * from Student')
cur.fetchone()

(101, 'AMAN', 30)

In [6]:
cur.fetchmany(3)

[(102, 'Aman', 20), (103, 'Mohit', 50), (104, 'Nikhil', 30)]

In [7]:
cur.fetchall()

[(105, 'Nidhi', 30), (106, 'Manisha', 30), (107, 'Ankush', 30)]

In [8]:
cur.execute('select * from Student')
cur.fetchall()

[(101, 'AMAN', 30),
 (102, 'Aman', 20),
 (103, 'Mohit', 50),
 (104, 'Nikhil', 30),
 (105, 'Nidhi', 30),
 (106, 'Manisha', 30),
 (107, 'Ankush', 30)]

In [9]:
cur.execute('select * from Student')
print(cur.fetchone())
print(cur.fetchone())

(101, 'AMAN', 30)
(102, 'Aman', 20)

In [10]:
cur.execute('select * from Student')
print(cur.fetchmany(4))

[(101, 'AMAN', 30), (102, 'Aman', 20), (103, 'Mohit', 50), (104, 'Nikhil', 30)]

In [11]:
cur.execute('select * from Student')
ans = cur.fetchall()

In [12]:
ans

[(101, 'AMAN', 30),
 (102, 'Aman', 20),
 (103, 'Mohit', 50),
 (104, 'Nikhil', 30),
 (105, 'Nidhi', 30),
 (106, 'Manisha', 30),
 (107, 'Ankush', 30)]

In [13]:
db.close()