In [2]:
import sqlite3
db = sqlite3.connect('School.sqlite')
cur = db.cursor()

In [3]:
cur.execute('insert into Student values(103,"Mohit",22)')

In [5]:
db.commit()

In [7]:
rollnumber = 104
Name = "Nikhil"
age = 34
cur.execute('insert into Student values(?, ?, ?)', (rollnumber, Name, age))
db.commit()

In [9]:
#Here ? was the place holder.
values = [(105, "Nidhi", 20), (106, "Manisha", 21), (107, "Ankush", 22)]
cur.executemany('insert into Student values(?, ?, ?)', values)

In [10]:
db.commit()

In [11]:
cur.execute('update student set Age = 30')

In [13]:
db.commit()

In [14]:
cur.execute('update student set Age = 20 where rollnumber = 102')
db.commit()

In [17]:
new_Age = 50
cur.execute('update student set Age = ? where rollnumber = 103', (new_Age,)) # the variable in placeholder should be passed as a tuple

In [18]:
db.commit()

In [19]:
db.close()